* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}
/* ol, ul {
	list-style: none;
} */
@font-face {
  font-family:'Work Sans Bold';
  src:url('../fonts/Work Sans Bold.woff2') format('woff2'),
  url('../fonts/Work Sans Bold.woff') format('woff');	
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family:'Work Sans ExtraBold';
  src:url('../fonts/Work Sans ExtraBold.woff2') format('woff2'),
  url('../fonts/Work Sans ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family:'Work Sans Light';
  src:url('../fonts/Work Sans Light.woff2') format('woff2'),
  url('../fonts/Work Sans Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family:'Work Sans Regular';
  src:url('../fonts/Work Sans Regular.woff2') format('woff2'),
  url('../fonts/Work Sans Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	/* max-width:1200px; */
}
body{
	font-family:'Work Sans Regular';
  overflow-x: hidden;
}
#header div.wrapper nav.right{
	width: 100%;
  background-color: #fff;
  padding-top: 3%;
}
#header div.wrapper nav.right ul{
	display: flex;
	justify-content: end;
  list-style: none;
}
#header div.wrapper nav.right ul li a button.login{
	padding: 11% 5%;
    background: #000000;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: 131px;
    margin-right: 15px;
}
#header div.wrapper nav.right ul li a button.get{
	padding: 8% 6%;
    background: #f2efef;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    width: 201px;
}
#home{
  position: relative;
  height: 600px;
}
#home div.wrapper div.head h1{
   font-size: 60px;
   font-family:'Work Sans ExtraBold';
}
#home div.wrapper div.detail{
  position: absolute;
    width: 300px;
    height: 300px;
    left: 80%;
    text-align: end;
}

#home div.wrapper div.detail p{}
#home div.wrapper div.detail a button{
  width: 100%;
  padding: 5% 0;
  background: #000000;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
#product{
  padding-bottom: 7%;
}
#product div.wrapper h1{
  font-size: 55px;
  font-family:'Work Sans Bold';
    text-align: center;
    margin-bottom: 20px;
}
#product div.wrapper ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#product div.wrapper ul li{
  border: 1px solid #000000;
  width: 28%;
  padding: 15px;

}
#product div.wrapper ul li div.container{
  width: 100%;
  height: 180px;
  background: rgb(213, 207, 207);


}
#product div.wrapper ul li div.container img{
  /* display: block; */
  
}
#product div.wrapper ul li div.content h4{
  font-size: 22px;
    font-weight: bold;
    margin: 10px 0 23px 0;
}
#product div.wrapper ul li div.content p{

  margin-bottom: 50px;

}
#product div.wrapper ul li div.button {
  text-align: right;
}
#product div.wrapper ul li div.button a button{
  padding: 4% 5%;
  border: 1px solid #000000;
  display: inline-block;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  width: 131px;
  margin-right: 15px;

}
#curicculam{
  padding-bottom: 7%;
}
#curicculam div.wrapper span{
  color: #7d7878;
}
#curicculam div.wrapper h1{
    font-size: 55px;
    font-family:'Work Sans Bold';
    text-align: left;
    margin-bottom: 20px;
}
#curicculam div.wrapper ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#curicculam div.wrapper ul li{
  width: 20%;

}
#curicculam div.wrapper ul li div.count{
  width: 50px;
  height: 50px;
  background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#curicculam div.wrapper ul li h4{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 23px 0;
}
#curicculam div.wrapper ul li div.count b{
  font-weight: bold;
    font-size: 16px;
}
#curicculam div.wrapper ul li p{}

#syllubus{
  padding-bottom: 7%;
}
#syllubus div.wrapper ul.syl{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#syllubus div.wrapper ul.syl li.syl{
  border: 1px solid #000000;
    width: 32%;
    margin-right: 20px;
    margin-bottom: 33px;
    padding: 15px;
}
#syllubus div.wrapper ul.syl li.syl:nth-child(3){
  margin-right: 0;
}
#syllubus div.wrapper ul.syl li.syl:nth-child(6){
  margin-right: 0;
}
#syllubus div.wrapper ul.syl li ul {
  list-style: circle;
  margin-left: 25px;
}
#syllubus div.wrapper ul li h4{
  font-size: 22px;
    font-weight: bold;
    margin: 10px 0 23px 0;
}
#syllubus div.wrapper ul.syl li span{
  color: #7d7878;
}
#syllubus div.wrapper a button{
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 1% 0;

}
#catch div.wrapper span{
  color: #7d7878;
}
#catch div.wrapper h1{
  font-size: 55px;
    font-family:'Work Sans Bold';
    text-align: left;
    margin-bottom: 20px;
}
#catch div.wrapper ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;

}
#catch div.wrapper ul li{
  background: rgb(213, 207, 207);
  width: 23%;
  height: 272px;
  margin-right: 20px;
  margin-bottom: 46px;
}
#catch div.wrapper ul li:nth-child(4){
  margin-right: 0;
}
#catch div.wrapper ul li:nth-child(8){
  margin-right: 0;
}
/* #catch div.wrapper ul li div.container{
  
} */
#include{
  padding-top: 7%;
  padding-bottom: 7%;
  background: #000;
  color: #fff;
}
#include div.wrapper span{
  color: #7d7878;
}
#include div.wrapper h1{
    font-size: 55px;
    font-family:'Work Sans Bold';
    text-align: left;
    margin-bottom: 20px;
}
#include div.wrapper ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
#include div.wrapper ul li{
  width: 26%;
  margin-right: 20px;
  margin-bottom: 70px;

}
#include div.wrapper ul li:nth-child(3){
  margin-right: 0;

}
#include div.wrapper ul li:nth-child(6){
  margin-right: 0;
  
}
#include div.wrapper ul li div.count{
  width: 50px;
  height: 50px;
  background: rgb(213, 207, 207);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#include div.wrapper ul li h4{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 23px 0;
}
#include div.wrapper ul li div.count b{
  font-weight: bold;
    font-size: 16px;
}
#include div.wrapper ul li p{}